NodeREDZNZDL-master/defaults/flows.json
[{"id":"6afe45b4.9acaac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"307a403b.45474","type":"inject","z":"6afe45b4.9acaac","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":80,"wires":[["b3aa9dd6.eb8c"]]},{"id":"5e85a173.fbaca","type":"debug","z":"6afe45b4.9acaac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":80,"wires":[]},{"id":"b3aa9dd6.eb8c","type":"watson-conversation-v1","z":"6afe45b4.9acaac","name":"CUSTOMER","workspaceid":"d17521b5-54eb-4b69-b49a-2512cc735a7a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":510,"y":200,"wires":[["862da33d.ea838"]]},{"id":"862da33d.ea838","type":"function","z":"6afe45b4.9acaac","name":"parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":240,"wires":[["5e85a173.fbaca","91e4f4f8.199eb8"]]},{"id":"2a2dc3f6.3cfb8c","type":"ui_form","z":"6afe45b4.9acaac","name":"","label":"","group":"13bb95a3.94b33a","order":1,"width":20,"height":2,"options":[{"label":"Enter Your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["54b3776f.053068"]]},{"id":"54b3776f.053068","type":"function","z":"6afe45b4.9acaac","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["b3aa9dd6.eb8c","ea35df7d.fe1a6"]]},{"id":"ea35df7d.fe1a6","type":"ui_text","z":"6afe45b4.9acaac","group":"13bb95a3.94b33a","order":2,"width":20,"height":1,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":420,"wires":[]},{"id":"91e4f4f8.199eb8","type":"ui_text","z":"6afe45b4.9acaac","group":"13bb95a3.94b33a","order":3,"width":20,"height":8,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":770,"y":400,"wires":[]},{"id":"13bb95a3.94b33a","type":"ui_group","z":"","name":"chatbot","tab":"371e1b8d.b33214","order":1,"disp":true,"width":20,"collapse":false},{"id":"371e1b8d.b33214","type":"ui_tab","z":"","name":"customercare","icon":"dashboard","disabled":false,"hidden":false}]